.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  font-family: helvetica;
  font-size: 14px;
  line-height: 1.5em;
}

.settings {
  width: 800px;
  margin: 10px 0;
}

.settings-item {
  width: 25%;
  float: left;
}

.label-item,
.value-item {
  display: block;
}

.draw-area {
  border: 1px solid black;
}

